// ===== Colores base =====
$primary-color: #0e95aa;
$secondary-color: #0e95aa;
$container-color: #8bc3cc;
$card-color: #f8f9fa;
$button-color: #28a745;
$button-off-color: #dc3545;
$party-mode-color: #6d039e;
$party-stop-color: #340044;
$alert-color: #ff0000;
$alert-stop-color: #a70000;
$warm-color: #ff9100;
$warm-stop-color: #ff5e00c0;
$boton-foto: #0e95aa;
$shadow-color: rgba(0, 0, 0, 0.1);

// ===== Layout general =====
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: $container-color;
}

.page-layout {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0px 40px;
  align-items: center;
}

.page-header {
  text-align: center;
  margin-bottom: 0px;

  h1 {
    color: black;
    font-size: 32px;
    border-bottom: 2px solid black;
    padding-bottom: 10px;
  }
}

.camera-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  background-color: white;
  padding: 0px;
  width: 90%;
  border-radius: 12px;
  box-shadow: 2px 2px 8px $shadow-color;
  position: relative;
  margin-top: -20px;
}

.video-live, .video-normal {
  flex: 1;
  min-width: 300px;
  text-align: center;

  h2 {
    color: $primary-color;
    font-size: 22px;
    margin-bottom: 10px;
    text-align: center;
  }

  img {
    width: 100%;
    max-width: 40%; 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
  }
}

.video-wrapper {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 15px;
}

.stream-wrapper {
  margin-top: 15px;
}

.photo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.captured-photo {
  width: 100%;
  min-width: 600px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

// ===== Botón del micrófono flotante =====
.microphone-toggle {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: $button-off-color;
  border: none;
  font-size: 28px;
  padding: 12px;
  border-radius: 50%;
  box-shadow: 2px 2px 8px $shadow-color;
  color: white;
  z-index: 1000;
  transition: background-color 0.3s ease;

  &.listening {
    background-color: $button-color;
  }
}

// ===== Sección de luces y modos =====
.lights-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
  width: 91%;
  margin-bottom: 20px;
}

.lights-group {
  flex: 1.2;
  background-color: $card-color;
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
  border-radius: 10px;
  box-shadow: 2px 2px 8px $shadow-color;
  display: flex;
  
  h2 {
    color: $secondary-color;
    font-size: 22px;
    margin-bottom: 10px;
    white-space: nowrap;
  }

  .aa{
    white-space: nowrap;
  }
  button {
    display: inline-block;
    width: auto;
    min-width: 140px;
    padding: 12px 80px;
    margin: 5px 10px;
    font-size: 16px;
    white-space: nowrap;
  }
}

.modes-group {
  flex: 1;
  background-color: $card-color;
  padding-top: 20px;
  padding-left: 30px;
  padding-bottom: 20px;
  border-radius: 10px;
  box-shadow: 2px 2px 8px $shadow-color;
  display: flex;
  
  h2 {
    color: $secondary-color;
    font-size: 22px;
    margin-bottom: 10px;
    white-space: nowrap;
  }

  button {
    display: inline-block;
    width: auto;
    min-width: 140px;
    padding: 12px 110px;
    margin: 5px 10px;
    font-size: 16px;
    white-space: nowrap;
  }
}

.lights-image img {
  max-width: 55%;
  margin-top: 30px;
  margin-left: 90px;
  height: auto;
}

.lights-image2 img {
  max-width: 55%;
  margin-left: 110px;
  margin-top: 30px;
  height: auto;
}

// ===== Botones =====
button {
  padding: 12px 55px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: 2px 2px 8px $shadow-color;

  &:hover {
    transform: scale(1.05);
  }
}

button.on {
  background: $button-color;
  color: white;

  &:hover {
    background: darken($button-color, 10%);
  }
}

button.off {
  background: $button-off-color;
  color: white;

  &:hover {
    background: darken($button-off-color, 10%);
  }
}

button.party {
  background: $party-mode-color;
  color: white;

  &:hover {
    background: darken($party-mode-color, 10%);
  }
}

button.stop-party {
  background: $party-stop-color;
  color: white;

  &:hover {
    background: darken($party-stop-color, 10%);
  }
}

button.alert {
  background: $alert-color;
  color: white;

  &:hover {
    background: darken($alert-color, 10%);
  }
}

button.stop-alert {
  background: $alert-stop-color;
  color: white;

  &:hover {
    background: darken($alert-stop-color, 10%);
  }
}

button.warm {
  background: $warm-color;
  color: white;

  &:hover {
    background: darken($warm-color, 10%);
  }
}

button.stop-warm {
  background: $warm-stop-color;
  color: white;

  &:hover {
    background: darken($warm-stop-color, 10%);
  }
}

.camera-btn.close {
  background-color: #e74c3c;
  color: white;
  margin-bottom: 20px;
}

.camera-btn.open {
  background: $primary-color;
  color: white;
  &:hover {
    background: darken($primary-color, 10%);
  }
}

.camera-btn {
  padding: 12px 55px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: 2px 2px 8px $shadow-color;
  background-color: $boton-foto;
  color: white;

}